.navbar {
  margin-bottom: 0vw;
  border-bottom: 0vw;
  min-height:3vw !important;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:0.5vw !important;
    padding-bottom:0 !important;
    height: 3vw;
}

.navbar-custom {
  font-family: 'Titillium Web', sans-serif;
  background-color: #2C2A29;
  color: #FFFFFF;
  padding-top: -0.5em;
  padding-bottom: -0.5em;
}

.navbar-text {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.0em;
  color: #FFFFFF !important;
  padding-top: -1.0vw;
  padding-bottom: -1.0vw;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
    color: #2C2A29;
    border-bottom: none;
}

.pad-0 {
  padding-left: 0vw;
  padding-right: 0vw;
}

a {
  color: #2C2A29;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
  color: #C8102E !important;
}

p a:hover {
  background-color: transparent;
  text-decoration: none;
  color: #FFFFFF !important;
}

#quote-background {
  background-image: url(../img/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}

#facts-background {
  background-color: #2C2A29;
  margin: 0vw;
  padding-bottom: 1vw;
}

#wiki-background {
  background-color: #C8102E;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 0.75em;
}

#roster-bg {
  background-color: #C8102E;
  margin-bottom: 0vw;
}

#update-bg {
  background-color: #2C2A29;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1em;
}

#red-text {
  font-family: 'Open Sans', sans-serif;
  color: #C8102E;
  font-style: italic;
  font-size: 7.0vw;
  text-align: center;
}

#wht-txt {
  font-family: 'Titillium Web', sans-serif;
  color: #FFFFFF;
  font-style: italic;
  font-size: 3.0em;
  text-align: center;
}

#wht-txt-alt {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-style: italic;
  text-align: center;
}

#list-txt {
  font-family: 'Titillium Web', sans-serif;
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: center;
}

#about-txt {
  padding-top: 4vw;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 1.5em;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.0vw;
  color: #FFFFFF;
  padding-top: 40.0vw;
}

div ol h3 {
  text-decoration: underline;
}

div ul h3 {
  text-decoration: underline;
}

p {
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
}

li {
   white-space: nowrap;
}
